{% extends 'layouts/layout.html.twig' %}

{% block title %}Promo &amp; Blog{% endblock %}

{% block content %}
	<section id="support" class="overview-block-ptb banner iq-bg iq-bg-fixed iq-box-shadow" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h2 class="title iq-tw-6">Promo &amp; Blog</h2>
                            <div class="divider"></div>
                            <p>Jangan sampai terlewat, selalu cek berbagai promo dan informasi terbaru mengenai YAP! disini.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="overview-block-ptb white-bg iq-blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Promo</h2>
                        <div class="divider"></div>
                        <p>Jangan sampai terlewat, selalu cek berbagai promo dan informasi terbaru mengenai YAP! di sini.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/blog/1.jpg" alt="#">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="blog-title"> <a href="{{ path('event_detail', {id: 1}) }}"><h5 class="iq-tw-6">DAPATKAN CASHBACK 10% DENGAN YAP!</h5> </a> </div>
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                    <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p>Kamu mendapatkan cashback 10%dengan membeli barang yang ada di minimarket dan supermarket yang ada logo “Available with YAP!”. Promo ini berlaku hingga 31 Desember 2017.</p>
                            </div>
                            <div class="blog-button">
                                <a href="#" class="pull-left iq-tw-6 iq-user"><i class="fa fa-user-circle" aria-hidden="true"></i> Admin</a>
                                <a href="{{ path('event_detail', {id: 1}) }}" class="pull-right iq-tw-6">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/blog/2.jpg" alt="#">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="blog-title"> <a href="{{ path('event_detail', {id: 1}) }}"><h5 class="iq-tw-6">INSTALL SEKARANG, DAPATKAN BONUS TOPUP 50.000 DARI YAP !</h5> </a> </div>
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                    <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p>Install aplikasi YAP sekarang dan login dengan akun kamu! Kamu langsung akan dapat topup 50.000 di akun kamu! Promo berlaku hingga 10 Januari 2018</p>
                            </div>
                            <div class="blog-button">
                                <a href="#" class="pull-left iq-tw-6 iq-user"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Tilak</a>
                                <a href="{{ path('event_detail', {id: 1}) }}" class="pull-right iq-tw-6">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/blog/3.jpg" alt="#">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="blog-title"> <a href="{{ path('event_detail', {id: 1}) }}"><h5 class="iq-tw-6">BELANJA DENGAN YAP! DAPATKAN DISKON 5%</h5> </a> </div>
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                    <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p>Dapatkan diskon 5% dengan membeli barang dengan brand Tertentu yang sudah bekerjasama dengan YAP! . Promo berlaku hingga 1 Januari 2018.</p>
                            </div>
                            <div class="blog-button">
                                <a href="#" class="pull-left iq-tw-6 iq-user"><i class="fa fa-user-circle" aria-hidden="true"></i> Admin</a>
                                <a href="{{ path('event_detail', {id: 1}) }}" class="pull-right iq-tw-6">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/blog/4.jpg" alt="#">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="blog-title"> <a href="{{ path('event_detail', {id: 1}) }}"><h5 class="iq-tw-6">NGOPI SEKARANG GAK PERLU RIBET ! BELI 1 FREE 1 PAKAI YAP SEKARANG !</h5> </a> </div>
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                    <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p>Sekarang Ngopi gak perlu Ribet bawa dompet tebel ! Cukup bawa YAP di Smartphone kamu .. Bisa Dapet free 1 Cup Coffee di STARBUCK, Senayan ! Promo hingga Februari 2018</p>
                            </div>
                            <div class="blog-button">
                                <a href="#" class="pull-left iq-tw-6 iq-user"><i class="fa fa-user-circle" aria-hidden="true"></i> Admin</a>
                                <a href="{{ path('event_detail', {id: 1}) }}" class="pull-right iq-tw-6">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <a class="button iq-mt-50" href="blog-2-columns.html">Semua Promo</a>
            </div>
        </div>
    </section>
    <section id="blog" class="overview-block-ptb white-bg iq-blog iq-pt-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Blog</h2>
                        <div class="divider"></div>
                        {# <p>Jangan sampai terlewat, selalu cek berbagai promo dan informasi terbaru mengenai YAP! di sini.</p> #}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/blog/1.jpg" alt="#">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="blog-title"> <a href="{{ path('event_detail', {id: 1}) }}"><h5 class="iq-tw-6">ATURAN UANG ELEKTRONIK</h5> </a> </div>
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                    <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p>Bank Indoensia (BI) telah menerbitkan aturan terkait Gerbang Pembayaran Nasional atau National Payment Gateway (NPG).</p>
                            </div>
                            <div class="blog-button">
                                <a href="#" class="pull-left iq-tw-6 iq-user"><i class="fa fa-user-circle" aria-hidden="true"></i> Admin</a>
                                <a href="{{ path('event_detail', {id: 1}) }}" class="pull-right iq-tw-6">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/blog/2.jpg" alt="#">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="blog-title"> <a href="{{ path('event_detail', {id: 1}) }}"><h5 class="iq-tw-6">Fitur Isi Ulang Uang Elektronik "E-commerce"</h5> </a> </div>
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                    <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p>Bank Indonesia (BI) tengah melakukan pembekuan sementara (suspend) fitur isi ulang uang elektronik yang dimiliki sejumlah laman e-dagang atau e-commerce.</p>
                            </div>
                            <div class="blog-button">
                                <a href="#" class="pull-left iq-tw-6 iq-user"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Tilak</a>
                                <a href="{{ path('event_detail', {id: 1}) }}" class="pull-right iq-tw-6">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/blog/3.jpg" alt="#">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="blog-title"> <a href="{{ path('event_detail', {id: 1}) }}"><h5 class="iq-tw-6">TENTANG UNIKQU</h5> </a> </div>
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                    <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p>UnikQu merupakan produk uang elektronik berbasis server BNI yang dapat diakses oleh Nasabah dan non Nasabah yang menggunakan smartphone berbasis iOS dan Android.</p>
                            </div>
                            <div class="blog-button">
                                <a href="#" class="pull-left iq-tw-6 iq-user"><i class="fa fa-user-circle" aria-hidden="true"></i> Admin</a>
                                <a href="{{ path('event_detail', {id: 1}) }}" class="pull-right iq-tw-6">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <a class="button iq-mt-50" href="blog-2-columns.html">Semua Promo</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}