{% extends 'layouts/layout.html.twig' %}

{% block title %}Pertanyaan yang Sering Diajukan {% endblock %}

{% block content %}
    <section id="support" class="overview-block-ptb banner iq-bg iq-bg-fixed iq-box-shadow" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h2 class="title iq-tw-6">Pertanyaan yang sering diajukan</h2>
                            <div class="divider"></div>
                            <!-- <p>yap adalah aplikasi yang menjadikan pembayaran menjadi lebih mudah. Banyak manfaat yang bisa anda dapatkan ketika mnejadikan yap bagian dari hidup anda.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</br>
</br>
     <section class="overview-block-ptb white-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Tentang Aplikasi yap</h2>
                        <div class="divider"></div>
                        <!--p>Kini Top Up saldo UnikQu bisa pakai berbagai cara ...</p-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/samsung_and_hand.png" alt="">
                    <center> <a class="button iq-mt-15 responsive" href="{{ app.request.basepath }}/public/assets/yap.pdf">Download Tutorial Penggunaan</a>
</center>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="iq-accordion iq-mt-50">
                        <div class="ad-block ad-active">
                            <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">

                                </span>
                                Apa itu yap ?
                            </a>
                            <div class="ad-details">
                                <div class="row">
                                    <div class="col-sm-12">
                                      yap adalah fasilitas pembayaran transaksi elektronik yang dimiliki oleh PT Bank Negara Indonesia (Persero) Tbk dengan sumber dana yang bersumber dari Kartu Kredit BNI, rekening kartu debit* atau rekening uang elektronik* (UnikQu). yang dapat diakses menggunakan smartphone berbasis sistem operasi iOS dan Android.

</br> *) Tahap awal fitur akan berlaku untuk sumber dana Kartu Kredit BNI terlebih dahulu. Untuk Kartu Debit BNI dan Uang Elektronik.

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">

                                </span>
                               Apa yang harus dilakukan nasabah untuk dapat dinikmati fasilitas yap?
                            </a>
                            <div class="ad-details">
                              Agar dapat menikmati fasilitas yap nasabah perlu melakukan beberapa hal sebagai berikut:

<li>(i). Melakukan download Aplikasi yap yang ada di PlayStore (ponsel dengan platform Android) dan Appstore (ponsel dengan platform iOS) dan kemudian melakukan instalasi aplikasi ke smartphone nasabah.
</li>
<li>(ii). Melakukan registrasi keanggotaan atau kepesertaan yap. Berikut panduan untuk melakukan registrasi yap
</br></li></br>
<li>1. Buka aplikasi dan pilih button link
“Daftar” untuk proses registrasi
</li></br><li>
2. Bacalah syarat dan ketentuan
penggunaan Layanan yap secara seksama,
kemudian berikan pernyataan
persetujuan dengan memberikan
tanda checklist “√”
</li></br>
<li>
3. Pilihlah default bahasa yang Anda
gunakan pada aplikasi yap Anda.
</li></br>
<li>

4. Masukkan data atau informasi
pribadi Anda di bagian Informasi
Personal pada bagian registrasi.
(1.  Nama
2.	Tgl. Lahir
3.  Kewarganegaraan
4.	NIK)
</li></br>
<li>
5. Masukkan data atau informasi
pribadi Anda di bagian Informasi
Kontak pada bagian registrasi.
(1.	Alamat
2.	No. Telepon)
</li></br><li>
6. Masukkan data atau informasi
pribadi Anda di bagian Informasi
Kartu Kredit BNI yang akan
didaftarkan pada bagian registrasi
Catatan:
Untuk Pendaftaran kartu kredit tambahan
(suplement) data tanggal lahir yang harus
dimasukkan adalah data tanggal lahir
Pemegang Kartu Kredit Utama yang
tersimpan di sistem Kartu Kredit BNI.
</li></br><li>
7. Untuk otentifikasi pendaftaran
Kartu Kredit BNI yang Anda
lakukan, anda akan diminta untuk
meng-input 6 digit PIN Kartu
Kredit BNI Anda.
Catatan:
6 digit PIN yang diminta sebagaimana PIN
Kartu Kredit yang dipergunakan untuk
transaksi di mesin ATM dan mesin EDC di
merchant
</li></br><li>
8. Buatlah user ID yang akan anda
pergunakan setiap log in ke
aplikasi yap.
User ID Anda berupa alamat email.
Pastikan anda mendaftarkan
alamat email yang valid dan aktif
sebagai user ID Anda.
</li></br><li>
9. Selain user ID, Anda juga akan
diminta untuk membuat mPIN.
mPIN merupakan 4 digit kode
berupa angka yang Anda perlukan
setiap kali akan melakukan log in
ke aplikasi yap
</li></br><li>
10. Setelah membuat user ID dan 4
digit mPIN, anda akan menerima
SMS yang dikirimkan ke nomor
ponsel Anda yang terdaftar di
sistem BNI, berisi 4 digit One
Time Password (OTP) yang harus
Anda masukkan ke aplikasi yap sebagai validasi
pendaftaran.
</li></br><li>
11. Masukkan OTP yang telah Anda
terima melalui SMS dengan benar
</li></br><li>
12. Jika seluruh inputan data yang
Anda berikan telah sesuai, maka
Anda akan memperoleh konfirmasi
bahwa registrasi yang telah anda
lakukan berhasil.




                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="{{ '#' }}" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">

                                </span>
                              Siapakah yang dapat menikmati fasilitas yap?
                            </a>
                            <div class="ad-details">
                                <div class="row">
                                    <div class="col-sm-12">
                                    Fasilitas yap dapat dinikmati oleh nasabah BNI sebagai berikut:
</br> a.	Pemegang Kartu Kredit BNI
</br> b.	Nasabah rekening Kartu Debit BNI
</br> c.	Nasabah Uang Elektronik BNI


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">

                                </span>
                          Cara Top Up UnikQu melalui EDC Mini ATM dan EDC Purchase
                            </a>
                            <div class="ad-details">
                              <ul>
                                <li>1.  Pilih “MAIN MENU”</li>
                                <li>2.  Pilih “UANG ELEKTRONIK”</li>
                                <li>3.  Pilih “UNIKQU”</li>
                                <li>4.  Pilih “TOP UP”</li>
                                <li>5.  Gesek kartu ATM Anda (BNI / Prima / Bersama)</li>
                                <li>6.  Pilih Button Hijau / Oke</li>
                                <li>7.  Pilih “TABUNGAN”</li>
                                <li>8.  Masukkan nomor handphone UnikQu user</li>
                                <li>9.  Masukkan PIN kartu ATM</li>
                                <li>10. Pilih nominal isi saldo</li>
                                <li>11. Denom Rp. 10.000,-; Rp. 20.000,-; Rp. 50.000,-; Rp. 100.000,-; Rp. 250.000,-; Rp. 500.000,-</li>
                                <li>12. Verifikasi transkasi</li>
                                <li>13. Masukkan kembali PIN kartu ATM</li>
                                <li>14. Transaksi berhasil ditandai dengan keluarnya struk / bukti transaksi
</li>
                              </ul>


                            </div>
                        </div>

                        <!--div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    <i class="ion-ios-checkmark-outline" aria-hidden="true"></i>
                                </span>
                                Cara Kerja
                            </a>
                            <div class="ad-details">
                                <ul class="number iq-plr-20">
                                    <li>
                                        Daftar di Aplikasi yap
                                    </li>
                                    <li>
                                        Lakukan verifikasi
                                    </li>
                                    <li>
                                        Setelah akun Anda diverifikasi Anda bisa menggunakan semua Fitur yap.
                                    </li>
                                    <li>
                                        Dengan yap Anda bisa menerima uang, penarikan uang ke Bank, maupun berbelanja di merchant yapmu
                                    </li>
                                </ul>
                            </div>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </section>
  </br>
</br>
    <section class="overview-block-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Mengapa yap</h2>
                        <div class="divider"></div>
                        <p>yap adalah aplikasi yang menjadikan pembayaran menjadi lebih mudah. Banyak manfaat yang bisa anda dapatkan ketika menjadikan yap bagian dari hidup anda.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-3">&nbsp;</div>
                <div class="col-sm-12 col-md-6">
                    <div class="iq-accordion iq-mt-50">
                        <div class="ad-block ad-active">
                            <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    1
                                </span>Hal-hal apa saja yang menyebabkan transaksi dengan menggunakan yap gagal atau tidak berhasil?</a>

                            <div class="ad-details">
                                <div class="row">
                                    <!--div class="col-sm-3"><img alt="#" class="img-responsive" src="{{ app.request.basepath }}/public/assets/images/faq-1.jpg"></div-->
                                    <div class="col-sm-9">Secara prinsip kegagalan transaksi yap dapat disebabkan oleh beberap hal sebagai berikut:

                  </br> a.	Sebagaimana ketentuan yang berlaku pada transaksi secara konvensional (transaksi di mesin EDC merchant), terdapat beberapa kondisi kartu yang menyebabkan kartu tidak dapat digunakan untuk transaksi misal; kartu belum diaktivasi, kartu dalam kondisi deliquent (terlambat melakukan pembayaran tagihan), kartu dalam kondisi lainnya sehingga transaksi tidak dapat dilakukan.

                  </br> b.	PIN 6 digit yang diinput oleh Nasabah salah atau tidak sesuai.
                  </br> c.	Kondisi jaringan/network device smartphone nasabah dalam kondisi yang tidak baik.
                  </br> d.	Data Plan (paket data internet) pada device smartphone nasabah idak mencukupi.

                  </br> e.	QR merchant tempat transaksi dilakukan tidak valid.
                  </br> f.	Berikut adalah beberapa ilustrasi notifikasi gagal transaksi pada yap
</div>
                                </div>
                            </div>
                        </div>

                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    2
                                </span>Nasabah lupa PIN Kartu Kredit yang diperlukan </br> untuk proses registrasi dan transaksi melalui yap, </br> apa yang harus dilakukan? </a>
                            <div class="ad-details">PIN 6 digit Kartu Kredit BNI dapat diperoleh Nasabah dengan beberapa cara sebagai berikut:

</br> (i).  Mengirimkan SMS ke 3346 dengan format :
</br>
</br> &nbsp; A. Untuk Permintaan PIN Kartu Utama, ketik: RPIN [spasi] 16 digit Nomor Kartu Utama [spasi] Tgl Lahir Pemegang Kartu Utama
(ddmmyyyy)

</br> &nbsp; B.	Untuk Permintaan PIN Kartu Tambahan, ketik : RPIN [spasi] 16 digit Nomor Kartu Tambahan [spasi] Tgl Lahir Pemegang Kartu Utama (ddmmyyyy)
</br>
</br> Pastikan Anda menggunakan nomor ponsel yang telah terdaftar di sistem BNI untuk Kartu Kredit BNI Anda saat mengirimkan SMS permintaan PIN.

</br> (ii). Menghubungi Layanan 24 Jam BNI Call di 1500046


                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="{{ '#' }}" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    3
                                </span>Apa yang terjadi jika Nasabah salah memasukan </br> data 4 digit mPIN secara berturut-turut </br> saat hendak log in ke Aplikasi yap sebanyak 3x? </a>
                            <div class="ad-details">
                                <div class="row">
                                    <div class="col-sm-9">Akun yap akan ter-blocked sementara jika Pengguna yap salah memasukkan mPIN aplikasi yap sebanyak 3 (tiga) kali berturut-turut (account terblokir sementara). Pembukaan blokir sementara atas akun yap dapat dilakukan dengan menghubungi Layanan 24 Jam BNI Call di 1500046.


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    4
                                </span>Apa yang terjadi jika Nasabah salah memasukkan </br> 6 digit PIN Kartu Kredit secara berturut-turut </br> saat hendak melakukan transaksi melalui </br> yap sebanyak 5x? </a>
                            <div class="ad-details">Kartu Kredit BNI Nasabah akan ter-blocked sementara jika Nasabah salah memasukkan 6 digit PIN Kartu Kredit BNI sebanyak 5 (lima) kali berturut-turut saat melakukan transaksi. Kesalahan input PIN di mesin ATM akan turut dihitung sebagai kesalahan input PIN. Pembukaan blokir sementara atas Kartu Kredit BNI Nasabah dapat dilakukan dengan menghubungi Layanan 24 Jam BNI Call di 1500046.
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    5
                                </span>Adakah pembatasan nilai transaksi melalui yap? </a>
                            <div class="ad-details">
                                <ul style="list-style-type: circle">
                                  Nilai maksimum transaksi melalui yap adalah sejumlah Rp 20juta/hari/kartu dan sesuai dengan sisa limit Kartu Kredit Nasabah (mana yang lebih kecil).



                                </ul>
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    6
                                </span>Biaya-biaya apa saja yang timbul atas transaksi menggunakan Kartu Kredit melalui yap? </a>
                            <div class="ad-details">
                                <ul style="list-style-type: decimal">
                                    Biaya – biaya yang timbul atas transaksi dan akan dibebankan ke nasabah adalah: </br>

a.	Biaya penggunaan paket data internet sesuai dengan pemakaian operator telekomunikasi oleh nasabah untuk akses dan penggunaan aplikasi yap.

</br> b.	Biaya – biaya lain sebagaimana penggunaan kartu untuk transaksi di merchant yang saat ini berlaku seperti pembebanan bunga jika pembayaran tidak penuh ataupun pembayaran penuh yang dilakukan setelah lewat tanggal jatuh tempo tagihan, biaya keterlambatan pembayaran tagihan, biaya pelampauan batas kredit.



                                </ul>
                            </div>
                        </div>

                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    7
                                </span>Amankah transaksi dengan menggunakan yap?  </a>
                            <div class="ad-details">
                              Transaksi menggunakan yap dipastikan aman. Pada yap terdapat beberapa mekanisme pengamanan data dan transaksi sebagai berikut:

</br> a.	1 User ID hanya dapat digunakan untuk log in pada 1 device/smartphone yang telah terinstall aplikasi yap.

</br> b.	Penggunaan One Time Password (OTP) untuk keperluan validasi Nasabah pada saat registrasi dan penambahan kartu terdaftar di aplikasi yap. OTP akan dikirimkan ke nomor ponsel yang terdaftar di sistem BNI.

</br> c.	Untuk validasi atas pendaftaran Kartu ke aplikasi yap juga digunakan beberapa data berikut:

</br> •	Kesesuaian data nomor kartu di sistem BNI

</br> •	Kesesuaian data tanggal lahir Pemegang Kartu di sistem BNI

</br> •	Kesesuaian data masa berlaku kartu di sistem BNI

</br> •	PIN 6 digit Kartu yang akan didaftarkan.

</br> d.	Penggunaan user ID dan 4 digit mPIN untuk log in

</br> e.	6 digit PIN Kartu akan selalu dipergunakan sebagai alat otentifikasi pada setiap transaksi dengan menggunakan yap.


                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    8
                                </span>Apa yang harus dilakukan oleh Nasabah jika ponsel </br> atau smartphone yang telah terinstall aplikasi yap </br>  dan terdapat Kartu terdaftar untuk transaksi hilang </br> atau berpindah tangan?  </a>
                            <div class="ad-details">
                                <ul style="list-style-type: circle">
                                Nasabah harus segera melaporkan kehilangan ponsel atau smartphone yang dimaksud ke Layanan BNI Call 24 Jam </br> untuk melakukan pemblokiran user ID yap serta mengajukan permintaan reset keanggotaan yap </br> pada ponsel yang lama, sehingga Nasabah dapat melakukan registrasi keanggotaan lagi pada ponsel atau smartphone yang baru.

                                </ul>
                            </div>
                        </div>

                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    9
                                </span>Apa yang harus dilakukan oleh Nasabah </br> jika Kartu Kredit yang telah terdaftar pada </br> aplikasi yap hilang atau berpindah tangan? </a>
                            <div class="ad-details">Nasabah harus segera melaporkan kehilangan kartu yang dimaksud ke Layanan BNI Call 24 Jam untuk melakukan pemblokiran dan pengajuan penggantian Kartu yang hilang, sesuai dengan prosedur pelaporan kartu hilang yang saat ini berlaku di BNI.
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    10
                                </span>Apa yang harus dilakukan oleh Nasabah jika ingin </br> melakukan penggantian ponsel atau smartphone </br> yang telah terinstall aplikasi yap dan terdapat Kartu terdaftar untuk transaksi? </a>
                            <div class="ad-details">
                                <ul style="list-style-type: circle">
                                  Nasabah dapat melakukan panggilan ke Layanan BNI Call 24 Jam untuk mengajukan permintaan reset keanggotaan yap pada ponsel yang lama, sehingga Nasabah dapat melakukan registrasi keanggotaan lagi pada ponsel atau smartphone yang baru

                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div-->
        </div>


      </br> </br> </br>
    </section>
    <section id="contact-us" class="iq-our-touch iq-bg-fixed" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="iq-get-in iq-pall-40 white-bg">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="heading-title iq-mb-60">
                                    <h2 class="title iq-tw-6">Hubungi kami</h2>
                                    <div class="divider"></div>
                                    <p>Bila anda mempunyai pertanyaan, keluhan atau kritik dan saran untuk perkembangan Aplikasi pembayaran yap, silahkan isi form berikut ini secara lengkap.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="formmessage">Success/Error Message Goes Here</div>
                            <form class="form-horizontal" id="contactform" method="post" action="">
                                <div class="contact-form">
                                    <div class="col-sm-6">
                                        <div class="section-field">
                                            <input id="name" type="text" placeholder="Nama*" name="name" required>
                                        </div>
                                        <div class="section-field">
                                            <input type="email" placeholder="Email*" name="email" required>
                                        </div>
                                        <div class="section-field">
                                            <input type="text" placeholder="Nomor Selular*" name="phone" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="section-field textarea">
                                            <textarea class="input-message" placeholder="Pesan*" rows="7" name="message" required></textarea>
                                        </div>
                                        <input type="hidden" name="action" value="sendEmail"/>
                                        <button id="submit" name="submit" type="submit" value="Send" class="button pull-right iq-mt-40">Kirim pesan
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div id="ajaxloader" style="display:none"><img class="center-block mt-30 mb-30" src="images/ajax-loader.gif" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
