{% extends 'layouts/layout.html.twig' %}

{% block title %}Daftar Merchant{% endblock %}

{% block content %}


  <section id="support" class="overview-block-ptb banner iq-bg iq-bg-fixed iq-box-shadow" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="heading-title">
              <h2 class="title iq-tw-6">Pendaftaran untuk Merchant</h2>
              <div class="divider"></div>
              <!-- <p>yap adalah aplikasi yang menjadikan pembayaran menjadi lebih mudah. Banyak manfaat yang bisa anda dapatkan ketika mnejadikan yap bagian dari hidup anda.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- test -->
<!--section class="overview-block-ptb"  id="merchant">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="container">
            <div class="row">

                  <div class="col-sm-12">
                      <div class="heading-title">
                          <h2 class="title iq-tw-6">Daftar Merchant yap</h2>
                          <div class="divider"></div>
                          <p> Berikut adalah daftar merchant yap yang tersebar di seluruh Indonesia</p>
                      </div>
                  </div>

                  <!-- Kota -->
                  <!--div class="col-sm-12 col-md-12">
                      <div class="iq-accordion iq-mt-50">
                          <div class="ad-block ad-active">
                              <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                  <span class="ad-icon">

                                  </span>Kota Bandung</a>

                              <div class="ad-details" aria-hidden="true">
                                  <div class="row">

                                      <div class="col-sm-12">
                                        <object data="{{ app.request.basepath }}/public/assets/Bandung.pdf" type="application/pdf" width="100%" height="500px">
                                           <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Bandung.pdf">Download PDF</a>.</p>
                                        </object>

                                      </div>
                                  </div>
                              </div>

                      </div>
                    </div>
                  </div>
                    <!-- Kota -->
                    <!--div class="col-sm-12 col-md-12">
                        <div class="iq-accordion iq-mt-50">
                            <div class="ad-block ad-active">
                                <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                    <span class="ad-icon">

                                    </span>Kota Surabaya</a>

                                <div class="ad-details" aria-hidden="true">
                                    <div class="row">

                                      <div class="col-sm-12">
                                        <object data="{{ app.request.basepath }}/public/assets/Surabaya.pdf" type="application/pdf" width="100%" height="500px">
                                          <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Surabaya.pdf">Download PDF</a>.</p>
                                        </object>
                                      </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                      </div>
                      <!-- End Kota -->
                      <!-- Kota -->
                      <!--div class="col-sm-12 col-md-12">
                          <div class="iq-accordion iq-mt-50">
                              <div class="ad-block ad-active">
                                  <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                      <span class="ad-icon">

                                      </span>Kota Banjarmasin</a>

                                  <div class="ad-details" aria-hidden="true">
                                      <div class="row">

                                          <div class="col-sm-12">
                                            <object data="{{ app.request.basepath }}/public/assets/Banjarmasin.pdf" type="application/pdf" width="100%" height="500px">
                                               <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Banjarmasin.pdf">Download PDF</a>.</p>
                                            </object>

                                          </div>
                                      </div>
                                  </div>

                          </div>
                        </div>
                      </div>
                        <!-- Kota -->
                        <!--div class="col-sm-12 col-md-12">
                            <div class="iq-accordion iq-mt-50">
                                <div class="ad-block ad-active">
                                    <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                        <span class="ad-icon">

                                        </span>Kota Denpasar</a>

                                    <div class="ad-details" aria-hidden="true">
                                        <div class="row">

                                          <div class="col-sm-12">
                                            <object data="{{ app.request.basepath }}/public/assets/Denpasar.pdf" type="application/pdf" width="100%" height="500px">
                                              <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Denpasar.pdf">Download PDF</a>.</p>
                                            </object>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                          <!-- End Kota -->
                          <!-- Kota -->
                          <!--div class="col-sm-12 col-md-12">
                              <div class="iq-accordion iq-mt-50">
                                  <div class="ad-block ad-active">
                                      <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                          <span class="ad-icon">

                                          </span>Kota Jakarta - BSD</a>

                                      <div class="ad-details" aria-hidden="true">
                                          <div class="row">

                                              <div class="col-sm-12">
                                                <object data="{{ app.request.basepath }}/public/assets/Jakarta BSD.pdf" type="application/pdf" width="100%" height="500px">
                                                   <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Jakarta BSD.pdf">Download PDF</a>.</p>
                                                </object>

                                              </div>
                                          </div>
                                      </div>

                              </div>
                            </div>
                          </div>
                            <!-- Kota -->
                            <!--div class="col-sm-12 col-md-12">
                                <div class="iq-accordion iq-mt-50">
                                    <div class="ad-block ad-active">
                                        <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                            <span class="ad-icon">

                                            </span>Kota Jakarta Kemayoran</a>

                                        <div class="ad-details" aria-hidden="true">
                                            <div class="row">

                                              <div class="col-sm-12">
                                                <object data="{{ app.request.basepath }}/public/assets/Jakarta Kemayoran.pdf" type="application/pdf" width="100%" height="500px">
                                                  <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Jakarta Kemayoran.pdf">Download PDF</a>.</p>
                                                </object>
                                              </div>
                                            </div>
                                        </div>
                                      </div>
                                </div>
                              </div>
                              <!-- End Kota -->
                              <!-- Kota -->
                              <!--div class="col-sm-12 col-md-12">
                                  <div class="iq-accordion iq-mt-50">
                                      <div class="ad-block ad-active">
                                          <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                              <span class="ad-icon">

                                              </span>Jakarta Kota</a>

                                          <div class="ad-details" aria-hidden="true">
                                              <div class="row">

                                                  <div class="col-sm-12">
                                                    <object data="{{ app.request.basepath }}/public/assets/Jakarta Kota.pdf" type="application/pdf" width="100%" height="500px">
                                                       <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Jakarta Kota.pdf">Download PDF</a>.</p>
                                                    </object>

                                                  </div>
                                              </div>
                                          </div>

                                  </div>
                                </div>
                              </div>
                                <!-- Kota -->
                                <!--div class="col-sm-12 col-md-12">
                                    <div class="iq-accordion iq-mt-50">
                                        <div class="ad-block ad-active">
                                            <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                <span class="ad-icon">

                                                </span>Jakarta Senayan</a>

                                            <div class="ad-details" aria-hidden="true">
                                                <div class="row">

                                                  <div class="col-sm-12">
                                                    <object data="{{ app.request.basepath }}/public/assets/Jakarta Senayan.pdf" type="application/pdf" width="100%" height="500px">
                                                      <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Jakarta Senayan.pdf">Download PDF</a>.</p>
                                                    </object>
                                                  </div>
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                  </div>
                                  <!-- End Kota -->
                                  <!-- Kota -->
                                  <!--div class="col-sm-12 col-md-12">
                                      <div class="iq-accordion iq-mt-50">
                                          <div class="ad-block ad-active">
                                              <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                  <span class="ad-icon">

                                                  </span>Makassar</a>

                                              <div class="ad-details" aria-hidden="true">
                                                  <div class="row">

                                                      <div class="col-sm-12">
                                                        <object data="{{ app.request.basepath }}/public/assets/Makassar.pdf" type="application/pdf" width="100%" height="500px">
                                                           <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Makassar.pdf">Download PDF</a>.</p>
                                                        </object>

                                                      </div>
                                                  </div>
                                              </div>

                                      </div>
                                    </div>
                                  </div>
                                    <!-- Kota -->
                                    <!--div class="col-sm-12 col-md-12">
                                        <div class="iq-accordion iq-mt-50">
                                            <div class="ad-block ad-active">
                                                <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                    <span class="ad-icon">

                                                    </span>Malang</a>

                                                <div class="ad-details" aria-hidden="true">
                                                    <div class="row">

                                                      <div class="col-sm-12">
                                                        <object data="{{ app.request.basepath }}/public/assets/Malang.pdf" type="application/pdf" width="100%" height="500px">
                                                          <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Malang.pdf">Download PDF</a>.</p>
                                                        </object>
                                                      </div>
                                                    </div>
                                                </div>
                                              </div>
                                        </div>
                                      </div>
                                      <!-- End Kota -->
                                      <!-- Kota -->
                                      <!--div class="col-sm-12 col-md-12">
                                          <div class="iq-accordion iq-mt-50">
                                              <div class="ad-block ad-active">
                                                  <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                      <span class="ad-icon">

                                                      </span>Manado</a>

                                                  <div class="ad-details" aria-hidden="true">
                                                      <div class="row">

                                                          <div class="col-sm-12">
                                                            <object data="{{ app.request.basepath }}/public/assets/Manado.pdf" type="application/pdf" width="100%" height="500px">
                                                               <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Manado.pdf">Download PDF</a>.</p>
                                                            </object>

                                                          </div>
                                                      </div>
                                                  </div>

                                          </div>
                                        </div>
                                      </div>
                                        <!-- Kota -->
                                        <!--div class="col-sm-12 col-md-12">
                                            <div class="iq-accordion iq-mt-50">
                                                <div class="ad-block ad-active">
                                                    <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                        <span class="ad-icon">

                                                        </span>Medan</a>

                                                    <div class="ad-details" aria-hidden="true">
                                                        <div class="row">

                                                          <div class="col-sm-12">
                                                            <object data="{{ app.request.basepath }}/public/assets/Medan.pdf" type="application/pdf" width="100%" height="500px">
                                                              <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Medan.pdf">Download PDF</a>.</p>
                                                            </object>
                                                          </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                            </div>
                                          </div>
                                          <!-- End Kota -->
                                          <!-- Kota -->
                                          <!--div class="col-sm-12 col-md-12">
                                              <div class="iq-accordion iq-mt-50">
                                                  <div class="ad-block ad-active">
                                                      <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                          <span class="ad-icon">

                                                          </span>Padang</a>

                                                      <div class="ad-details" aria-hidden="true">
                                                          <div class="row">

                                                              <div class="col-sm-12">
                                                                <object data="{{ app.request.basepath }}/public/assets/Padang.pdf" type="application/pdf" width="100%" height="500px">
                                                                   <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Padang.pdf">Download PDF</a>.</p>
                                                                </object>

                                                              </div>
                                                          </div>
                                                      </div>

                                              </div>
                                            </div>
                                          </div>
                                            <!-- Kota -->
                                            <!--div class="col-sm-12 col-md-12">
                                                <div class="iq-accordion iq-mt-50">
                                                    <div class="ad-block ad-active">
                                                        <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                            <span class="ad-icon">

                                                            </span>Palembang</a>

                                                        <div class="ad-details" aria-hidden="true">
                                                            <div class="row">

                                                              <div class="col-sm-12">
                                                                <object data="{{ app.request.basepath }}/public/assets/Palembang.pdf" type="application/pdf" width="100%" height="500px">
                                                                  <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Palembang.pdf">Download PDF</a>.</p>
                                                                </object>
                                                              </div>
                                                            </div>
                                                        </div>
                                                      </div>
                                                </div>
                                              </div>
                                              <!-- End Kota -->
                                              <!-- Kota -->
                                              <!--div class="col-sm-12 col-md-12">
                                                  <div class="iq-accordion iq-mt-50">
                                                      <div class="ad-block ad-active">
                                                          <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                              <span class="ad-icon">

                                                              </span>Papua</a>

                                                          <div class="ad-details" aria-hidden="true">
                                                              <div class="row">

                                                                  <div class="col-sm-12">
                                                                    <object data="{{ app.request.basepath }}/public/assets/Papua.pdf" type="application/pdf" width="100%" height="500px">
                                                                       <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Papua.pdf">Download PDF</a>.</p>
                                                                    </object>

                                                                  </div>
                                                              </div>
                                                          </div>

                                                  </div>
                                                </div>
                                              </div>
                                                <!-- Kota -->
                                                <!--div class="col-sm-12 col-md-12">
                                                    <div class="iq-accordion iq-mt-50">
                                                        <div class="ad-block ad-active">
                                                            <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                                <span class="ad-icon">

                                                                </span>Semarang</a>

                                                            <div class="ad-details" aria-hidden="true">
                                                                <div class="row">

                                                                  <div class="col-sm-12">
                                                                    <object data="{{ app.request.basepath }}/public/assets/Semarang.pdf" type="application/pdf" width="100%" height="500px">
                                                                      <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Semarang.pdf">Download PDF</a>.</p>
                                                                    </object>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                          </div>
                                                    </div>
                                                  </div>
                                                  <!-- End Kota -->
                                                  <!-- Kota -->
                                                  <!--div class="col-sm-12 col-md-12">
                                                      <div class="iq-accordion iq-mt-50">
                                                          <div class="ad-block ad-active">
                                                              <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                                                  <span class="ad-icon">

                                                                  </span>Yogyakarta</a>

                                                              <div class="ad-details" aria-hidden="true">
                                                                  <div class="row">

                                                                      <div class="col-sm-12">
                                                                        <object data="{{ app.request.basepath }}/public/assets/Yogyakarta.pdf" type="application/pdf" width="100%" height="500px">
                                                                           <p><b>Data Merchant yap</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="{{ app.request.basepath }}/public/assets/Yogyakarta.pdf">Download PDF</a>.</p>
                                                                        </object>

                                                                      </div>
                                                                  </div>
                                                              </div>

                                                      </div>
                                                    </div>
                                                  </div>
                                                  </div>
                                                  

                </div>
              </div>
            </div>
      </section-->

      <!-- Latest Blog Post -->
      </br>

    <section id="blog" class="overview-block-ptb white-bg iq-blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Merchant Kami</h2>
                        <!--div class="divider"></div-->
                        <p>Kamu Bisa Pake yap! di Seluruh Merchant yap! di Seluruh Indonesia</p>
                    </div>
                </div>
            </div>
            <!-- Start baris mercant -->
            <div>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant_1.jpg" alt="logo">
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant_2.jpg" alt="logo">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant_3.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant_4.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant_5.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant_6.jpg" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </br> 
        <!-- end baris mercant -->

        <!-- Start baris mercant -->
            <div>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-07.jpg" alt="logo">
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-08.jpg" alt="logo">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-09.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-10.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-11.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-12.jpg" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </br> 
        <!-- end baris mercant -->

        <!-- Start baris mercant -->
            <div>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-13.jpg" alt="logo">
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-14.jpg" alt="logo">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-15.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-16.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-17.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-18.jpg" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </br> 
        <!-- end baris mercant -->
        <!-- Start baris mercant -->
            <div>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-19.jpg" alt="logo">
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-20.jpg" alt="logo">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-21.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-22.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-23.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-24.jpg" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </br> 
        <!-- end baris mercant -->

<!-- Start baris mercant -->
            <div>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-25.jpg" alt="logo">
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-26.jpg" alt="logo">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-27.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-28.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-29.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-30.jpg" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </br> 
        <!-- end baris mercant -->
<!-- Start baris mercant -->
            <div>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-31.jpg" alt="logo">
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-32.jpg" alt="logo">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-33.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-34.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-35.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-36.jpg" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </br> 
        <!-- end baris mercant -->
<!-- Start baris mercant -->
            <div>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-37.jpg" alt="logo">
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-38.jpg" alt="logo">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-39.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-40.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-41.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-42.jpg" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </br> 
        <!-- end baris mercant -->
<!-- Start baris mercant -->
            <div>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-45.jpg" alt="logo">
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-46.jpg" alt="logo">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-47.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-48.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-49.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-50.jpg" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </br> 
        <!-- end baris mercant --><!-- Start baris mercant -->
            <div>
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-51.jpg" alt="logo">
                        </div>
                    
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-52.jpg" alt="logo">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-53.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-54.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-55.jpg" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/merchant/merchant-56.jpg" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </br> 
        <!-- end baris mercant -->
         
         
        </br> 
    </section>

    <!-- Latest Blog Post END -->

  <section class="overview-block-pb">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScG_jsz_n_dv77Q21aj1HGKYohr4wlpibvUBl4wAd_jjhPMeA/viewform?embedded=true" width="100%" height="2100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </section>

{% endblock %}
