{% extends 'layouts/layout.html.twig' %}
{% block title %}Dukungan{% endblock %}
{% block content %}
  <!-- Frequently Asked Questions -->
  <section id="support" class="overview-block-ptb banner iq-bg iq-bg-fixed iq-box-shadow" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="heading-title">
              <h2 class="title iq-tw-6">Mekanisme Aplikasi yap! Bagi Customer</h2>
              <div class="divider"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </br>
  </br>
  </br>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title">
            <h2 class="title iq-tw-6">3 Langkah Mudah Menginstall yap! bagi Customer</h2>
            <div class="divider"></div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="iq-home" class="banner iq-bg iq-bg-fixed iq-box-shadow large-only" style=" background: url({{app.request.basepath}}/public/assets/img/header_blue.png);">
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
      

      </ol>

      <!-- Wrapper for slides -->
      <div class="container iq-mb-30">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="banner-text">
              <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                  <div class="img-one pull-left">
                    <img class="img-responsive center-block" data-animation="animated fadeInLeft" src="{{app.request.basepath}}/public/assets/img/step/transact/1.png" alt="#">
                  </div>
                </div>
                <div class="col-sm-8 col-lg-8 col-md-8 inner-text iq-pr-80">
                  <h3 class="iq-font-white iq-tw-8" data-animation="animated fadeInRight">Langkah Pertama</h3>
                  <h5 class="iq-mt-20 iq-font-white">Install Aplikasi yap! dari Play Store gadget Kamu.</h5>
                  <p>&nbsp;</p>
                  <div class="iq-fancy-box-05">

                    <a class="iq-mr-15" href="https://play.google.com/store/apps/details?id=id.co.bni.yapcustomer"><img src="{{ app.request.basepath }}/public/assets/img/Playstore_Badge.png" alt="Playstore"></a>

                  </div>
                </div>
              </div>
            </div>
          </div>
         
          <div class="item">
            <div class="banner-text">
              <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                  <div class="img-one pull-left">
                    <img class="img-responsive center-block" data-animation="animated fadeInLeft" src="{{app.request.basepath}}/public/assets/img/step/transact/4.png" alt="#">
                  </div>
                </div>
                <div class="col-sm-8 col-lg-8 col-md-8 inner-text iq-pr-80">
                  <h3 class="iq-font-white iq-tw-8" data-animation="animated fadeInRight"> Langkah Kedua </h3>
                  <h5 class="iq-mt-20 iq-font-white">Masukkan data Identitas kamu sesuai dengan form yang tersedia. jangan lupa membuat password untuk akses aplikasi yap!</h5>
                </div>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="banner-text">
              <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                  <div class="img-one pull-left">
                    <img class="img-responsive center-block" data-animation="animated fadeInLeft" src="{{app.request.basepath}}/public/assets/img/step/transact/6.png" alt="#">
                  </div>
                </div>
                <div class="col-sm-8 col-lg-8 col-md-8 inner-text iq-pr-80">
                  <h3 class="iq-font-white iq-tw-8" data-animation="animated fadeInRight">Langkah Ketiga</h3>
                  <h5 class="iq-mt-20 iq-font-white">Kamu akan masuk ke halaman login, masukkan user dan password yang telah dibuat. Aplikasi Siap untuk digunakan ...</h5>
                </div>
              </div>
            </div>
          </div>
         
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="small-only">
    <div class="container">
      <div class="row">
        <div id="customer-small-carousel" class="tutorial">
          <div class="col-sm-6 col-sm-offset-3">
            <img src="{{ app.request.basepath }}/public/assets/img/step/transact/1.png" alt="">
            <h4>Langkah Pertama</h4>
            <p>Install Aplikasi yap! dari Play Store gadget Kamu.</p>
            <a href="https://play.google.com/store/apps/details?id=id.co.bni.yapcustomer"><img src="{{ app.request.basepath }}/public/assets/img/Playstore_Badge.png" alt="Playstore"></a>
          </div>
          
          <div class="col-sm-6 col-sm-offset-3">
            <img src="{{ app.request.basepath }}/public/assets/img/step/transact/4.png" alt="">
            <h4>Langkah Kedua</h4>
            <p>Masukkan data Identitas kamu sesuai dengan form yang tersedia. jangan lupa membuat password untuk akses aplikasi yap!</p>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <img src="{{ app.request.basepath }}/public/assets/img/step/transact/5.png" alt="">
            <h4>Langkah Ketiga</h4>
            <p>Kamu akan masuk ke halaman login, masukkan user dan password yang telah dibuat. Aplikasi Siap untuk digunakan ...</p>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title">
            <h2 class="title iq-tw-6">3 Langkah Mudah Menjadi Merchant yap!</h2>
            <div class="divider"></div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="iq-home" class="banner iq-bg iq-bg-fixed iq-box-shadow large-only" style=" background: url({{app.request.basepath}}/public/assets/img/header_blue.png);">
    <div id="merchant-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#merchant-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#merchant-carousel" data-slide-to="1"></li>
        <li data-target="#merchant-carousel" data-slide-to="2"></li>
       
       
      </ol>

      <!-- Wrapper for slides -->
      <div class="container iq-mb-30">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="banner-text">
              <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                  <div class="img-one pull-left">
                    <img class="img-responsive center-block" data-animation="animated fadeInLeft" src="{{app.request.basepath}}/public/assets/img/j.png" alt="#">
                  </div>
                </div>
                <div class="col-sm-8 col-lg-8 col-md-8 inner-text iq-pr-80">
                  <h3 class="iq-font-white iq-tw-8" data-animation="animated fadeInRight">Langkah Pertama</h3>
                  <h5 class="iq-mt-20 iq-font-white">Install Aplikasi Merchant - yap! dari Play Store gadget Kamu. Selanjutnya Buka Aplikasi dan Klik DAFTAR
                  </h5>
                  <p>&nbsp;</p>
                  <div class="iq-fancy-box-05">

                    <a class="iq-mr-15" href="https://play.google.com/store/apps/details?id=id.co.bni.yapmerchant&hl=in"><img src="{{ app.request.basepath }}/public/assets/img/Playstore_Badge.png" alt="Playstore"></a>

                  </div>
                </div>
              </div>
            </div>
          </div>
         
          <!-- 6 -->
          <div class="item">
            <div class="banner-text">
              <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                  <div class="img-one pull-left">
                    <img class="img-responsive center-block" data-animation="animated fadeInLeft" src="{{app.request.basepath}}/public/assets/img/d.png" alt="#">
                  </div>
                </div>
                <div class="col-sm-8 col-lg-8 col-md-8 inner-text iq-pr-80">
                  <h3 class="iq-font-white iq-tw-8" data-animation="animated fadeInRight">Langkah Kedua</h3>
                  <h5 class="iq-mt-20 iq-font-white">Isi seluruh informasi tentang produk atau merchant kamu.
                  </h5>
                </div>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="banner-text">
              <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                  <div class="img-one pull-left">
                    <img class="img-responsive center-block" data-animation="animated fadeInLeft" src="{{app.request.basepath}}/public/assets/img/a.png" alt="#">
                  </div>
                </div>
                <div class="col-sm-8 col-lg-8 col-md-8 inner-text iq-pr-80">
                  <h3 class="iq-font-white iq-tw-8" data-animation="animated fadeInRight">Langkah Ketiga
                  </h3>
                  <h5 class="iq-mt-20 iq-font-white">Kamu telah menjadi merchant yap! Selamat bertransaksi.
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Mobile Version -->
  <section class="small-only">
    <div class="container">
      <div class="row">
        <div id="merchant-small-carousel" class="tutorial">
          <div class="col-sm-6 col-sm-offset-3">
            <img src="{{ app.request.basepath }}/public/assets/img/j.png" alt="">
            <h4>Langkah Pertama</h4>
            <p>Install Aplikasi Merchant - yap! dari Play Store gadget Kamu. Selanjutnya Buka Aplikasi dan Klik DAFTAR</p>
            <a href="https://play.google.com/store/apps/details?id=id.co.bni.yapmerchant&hl=in"><img src="{{ app.request.basepath }}/public/assets/img/Playstore_Badge.png" alt="Playstore"></a>
          </div>
         
          <div class="col-sm-6 col-sm-offset-3">
            <img src="{{ app.request.basepath }}/public/assets/img/d.png" alt="">
            <h4>Langkah Kedua</h4>
            <p>Isi seluruh informasi tentang produk dan merchant kamu.</p>
          </div>
          
          <div class="col-sm-6 col-sm-offset-3">
            <img src="{{ app.request.basepath }}/public/assets/img/a.png" alt="">
            <h4>Langkah Ketiga</h4>
            <p>Kamu telah menjadi merchant yap! Selamat bertransaksi.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
    </br> </br> 
    <section id="mekanism" class="overview-block-ptb">
    <div class="container">
      <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Mekanisme Berbelanja Dengan Aplikasi yap!</h2>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="{{ app.request.basepath }}/public/assets/img/infografik.png" alt="" class="img-responsive infografik">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-sm">
          <div class="row step iq-mb-15">
            <div class="col-xs-2 h72">
              <div class="iq-icon magical">
                1
              </div>
            </div>
            <div class="col-xs-10 tc">
              <span class="magical">Nasabah/Customer datang ke merchant</span>
            </div>
          </div>
          <div class="row step iq-mb-15">
            <div class="col-xs-2 h72">
              <div class="iq-icon magical">
                2
              </div>
            </div>
            <div class="col-xs-10 tc">
              <span class="magical">Merchant menampilkan QR Code sebagai media untuk transaksi</span>
            </div>
          </div>
          <div class="row step iq-mb-15">
            <div class="col-xs-2 h72">
              <div class="iq-icon magical">
                3
              </div>
            </div>
            <div class="col-xs-10 tc">
              <span class="magical">Nasabah/Customer login ke yap!</span>
            </div>
          </div>
          <div class="row step iq-mb-15">
            <div class="col-xs-2 h72">
              <div class="iq-icon magical">
                4
              </div>
            </div>
            <div class="col-xs-10 tc">
              <span class="magical">Nasabah/Customer melakukan scanning QR Code, input nominal transaksi dan Pin Kartu Kredit yang divalidasi oleh host Bank.</span>
            </div>
          </div>
          <div class="row step iq-mb-15">
            <div class="col-xs-2 h72">
              <div class="iq-icon magical">
                5
              </div>
            </div>
            <div class="col-xs-10 tc">
              <span class="magical">Transaksi berhasil. Notifikasi transaksi akan dikirimkan ke nasabah dan merchant</span>
            </div>
          </div>
          <div class="row step iq-mb-15">
            <div class="col-xs-2 h72">
              <div class="iq-icon magical">
                6
              </div>
            </div>
            <div class="col-xs-10 tc">
              <span class="magical">Transaksi Berhasil</span>
            </div>
          </div>
          <div class="jumbotron">
            <h5>Penggunaan 6 Digit PIN merupakan pemenuhan SEBI No. 16/25/DKSP/ Tanggal 31 Desember 2014</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  
 
{% endblock %}

{% block customJS %}
<script type="text/javascript">
  $(function() {
    $('#customer-small-carousel, #merchant-small-carousel').slick({
      dots: true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 5000,
      arrows: false
    });
  });
</script>
{% endblock %}
