{% extends 'layouts/layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section id="support" class="overview-block-ptb banner iq-bg iq-bg-fixed iq-box-shadow" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h2 class="title iq-tw-6">{{ title }}</h2>
                            <div class="divider"></div>
                            <p>Jangan sampai terlewat, selalu cek berbagai promo dan informasi terbaru mengenai YAP! disini.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="overview-block-ptb white-bg iq-blog">
        <div class="container">
            {% set i = 1 %}

            {% if data|length > 0 %}
                {% for item in data %}
                    {% if (i % 3 == 1) %}
                        <div class="row">
                    {% endif %}
                    <div class="col-sm-12 col-md-4">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                {% if (event_type == 0) %}
                                    <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/photo/promo/{{ item.image }}" alt="#">
                                    {% else %}
                                        <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/photo/blog/{{ item.image }}" alt="#">
                                {% endif %}
                            </div>
                            <div class="iq-blog-detail">
                                <div class="blog-title">
                                    <a href="{% if (event_type == 0) %}{{ path('promo_detail', {id: item.id}) }}{% else %}{{ path('blog_detail', {id: item.id}) }}{% endif %}">
                                        <h5 class="iq-tw-6 text-uppercase">
                                            {{ item.title }}
                                        </h5>
                                    </a>
                                </div>
                                <div class="iq-blog-meta">
                                    <ul class="list-inline">
                                        <li>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            &nbsp;
                                            {% if (event_type == 0) %}
                                                {{ item.tanggalBerlakuAwal|date('d M y') }}
                                                {% else %}
                                                    {{ item.date|date('d M y') }}
                                            {% endif %}
                                        </li>
                                        {% if (event_type == 0) %}
                                            <li>
                                                Kode Promo : <strong>{{ item.kodePromo }}</strong>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="blog-content">
                                    {{ item.content|raw }}
                                </div>
                                <div class="blog-button">
                                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                        <span class="text-capitalize">{{ item.author.firstName }}</span>
                                    <a href="{% if (event_type == 0) %}{{ path('promo_detail', {id: item.id}) }}{% else %}{{ path('blog_detail', {id: item.id}) }}{% endif %}" class="pull-right iq-tw-6">
                                        Read More
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if (i % 3 == 0) %}
                    {% endif %}
                    {% set i = i + 1 %}
                {% endfor %}
                {% if (i % 3 != 1) %}
                    </div>
                {% endif %}
            {% endif %}

            {# PAGINATION #}
            <div class="row iq-mt-80">
                <div class="col-lg-12 col-md-12 text-center">
                    <ul class="pagination pagination-lg">
                        <li class="disabled"><a href="#"> <i class="ion-ios-arrow-left"></i> </a></li>

                        {% for ci in 1..(( pageInfo['countAll'] / 10)|round(0, 'ceil') ) %}
                            <li {% if ci == app.request.get('page') %}class="active"{% endif %}>
                                <a href="?page={{ ci }}">
                                    {{ ci }}
                                </a>
                            </li>
                        {% endfor %}
                        <li><a href="#"> <i class="ion-ios-arrow-right"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}