<html>
<head></head>
<body>
<h3>Feedback dari : {{ data.name }}</h3>

<p>Identitas</p>
<p>Nama : {{ data.name }}</p>
<p>Email : {{ data.email }}</p>
<p>No. Telp : {{ data.phone }}</p>
<p>Feedback :</p>
<p><strong>{{ data.message }}</strong></p>
</body>
</html>
